<h2 mat-dialog-title style="text-align: center;">New Student</h2>

<form [formGroup]="student" autocomplete="off">

  <mat-dialog-content class="mat-typography">

    <mat-tab-group>
      <mat-tab label="Basic Details:">

        <mat-grid-list cols="4" rowHeight="100px">

          <mat-grid-tile [colspan]="3" [rowspan]="1">

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> RegistrationId </mat-label>
                <input matInput type="text" formControlName="registrationId" id="registrationId" required>
              </mat-form-field>
            </div>
            
            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> FirstName </mat-label>
                <input matInput type="text" formControlName="firstName" id="firstName" required>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> LastName </mat-label>
                <input matInput type="text" formControlName="lastName" id="lastName" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="2">

            <div class="thumbnail-container">
              <img *ngIf="imageSrc != null" [src]="imageSrc" (click)="imageFile.click()" placeholder="click here to upload imag" style="height: 180px; width:150px" required>
              <img *ngIf="imageSrc == null" src="../assets/addImage.png" (click)="imageFile.click()" placeholder="click here to upload imag" style="height: 180px; width:150px" required>
            </div>
            <input type="file" style="display: none" accept="image/*" (change)="onFileChange($event)" #imageFile>

          </mat-grid-tile>

          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>FatherMotherExpired</mat-label>
                <mat-select formControlName="fatherMotherExpired" required>
                  <mat-option value="true" (click)="fatherMotherExpired(true)">Yes</mat-option>
                  <mat-option value="false" (click)="fatherMotherExpired(false)">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label> FatherName </mat-label>
                <input matInput type="text" formControlName="fatherName" id="fatherName" [readonly]="FMExpired"
                  [required]="FMExpired == false">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label> MotherName </mat-label>
                <input matInput type="text" formControlName="motherName" id="motherName" [readonly]="FMExpired"
                  [required]="FMExpired == false">
              </mat-form-field>
            </div>

          </mat-grid-tile>

          <mat-grid-tile [colspan]="4" [rowspan]="1">

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Famale">Female</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> DateOfBirth </mat-label>
                <input matInput formControlName="dateOfBirth" id="dateOfBirth"  [matDatepicker]="picker" required readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>MobileNumber</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input matInput type="number" formControlName="mobileNumber" id="mobileNumber" pattern="[0-9]{10}"
                  maxlength="10" required>
              </mat-form-field>
            </div>


          </mat-grid-tile>

          <mat-grid-tile [colspan]="4" [rowspan]="1">

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> SamagraId </mat-label>
                <input matInput type="number" formControlName="samagraId" id="SamagraId">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>RTE Student</mat-label>
                <mat-select formControlName="rteStudent" required>
                  <mat-option value="true" (click)="rteStudent(true)">Yes</mat-option>
                  <mat-option value="false" (click)="rteStudent(false)">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <!-- <input matInput type="text" placeholder="ClassToJoin" formControlName="classToJoin" id="classToJoin"  > -->
                <mat-label>ClassToJoin</mat-label>
                <mat-select formControlName="classToJoin" disableOptionCentering required>
                  <mat-option value="nursary">Nursary Class</mat-option>
                  <mat-option value="kg1">Kg 1 Class</mat-option>
                  <mat-option value="kg2">Kg 2 Class</mat-option>
                  <mat-option value="first">First Class</mat-option>
                  <mat-option value="second">Second Class</mat-option>
                  <mat-option value="third">Third Class</mat-option>
                  <mat-option value="fourth">Fourth Class</mat-option>
                  <mat-option value="fifth">Fifth Class</mat-option>
                  <mat-option value="sixth">Sixth Class</mat-option>
                  <mat-option value="seventh">Seventh Class</mat-option>
                  <mat-option value="eighth">Eighth Class</mat-option>
                  <mat-option value="ninth" *ngIf="isRteStudent == false">Ninth Class</mat-option>
                  <mat-option value="tenth" *ngIf="isRteStudent == false">Tenth Class</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="4" [rowspan]="1">

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Present Address</mat-label>
                <textarea matInput type="text" formControlName="presentAddress" id="presentAddress"></textarea>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Permanent Address</mat-label>
                <textarea matInput type="text" formControlName="permanentAddress" id="permanentAddress"></textarea>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>MarksOfIdentification</mat-label>
                <textarea matInput type="text" formControlName="marksOfIdentification"
                  id="marksOfIdentification"></textarea>
              </mat-form-field>
            </div>

          </mat-grid-tile>

          <mat-grid-tile [colspan]="4" [rowspan]="1">

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Religion </mat-label>
                <input matInput type="text" formControlName="religion" id="religion">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Caste </mat-label>
                <input matInput type="text" formControlName="caste" id="caste">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> CastId </mat-label>
                <input matInput type="text" formControlName="castId" id="castId">
              </mat-form-field>
            </div>


          </mat-grid-tile>

          <mat-grid-tile [colspan]="4" [rowspan]="1">

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> AadharNumber </mat-label>
                <input matInput type="number" formControlName="aadharNumber" id="aadharNumber" maxlength="12">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> BankAccountNumber </mat-label>
                <input matInput type="text" formControlName="bankAccountNumber" id="bankAccountNumber">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> IFSC Code </mat-label>
                <input matInput type="text" formControlName="ifscCode" id="ifscCode">
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="4" [rowspan]="1">

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>ChildHandicapped</mat-label>
                <mat-select formControlName="childHandicapped">
                  <mat-option value="true">Yes</mat-option>
                  <mat-option value="false">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>DateOfAdmission</mat-label>
                <input matInput  formControlName="dateOfAdmission" id="dateOfAdmission" [matDatepicker]="doa">
                <mat-datepicker-toggle matSuffix [for]="doa"></mat-datepicker-toggle>
                <mat-datepicker #doa></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Siblings</mat-label>
                <mat-select formControlName="siblings" required>
                  <mat-option value="true" (click)="siblings(true)">Yes</mat-option>
                  <mat-option value="false" (click)="siblings(false)">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </mat-grid-tile>

        </mat-grid-list>

        <div *ngIf="isSiblings == true">
          <button type="button" mat-raised-button color="primary" (click)="addSibling()" title="Add Sibling">
            <mat-icon>add</mat-icon>
          </button>
          <br><br>
          <table formArrayName="siblingInformation">

            <tr *ngFor="let quantity of siblingInformation().controls; let i=index" [formGroupName]="i">
              <td>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name" required>
                </mat-form-field>
              </td>
              <span style="margin-left: 15px;"></span>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Age</mat-label>
                  <input matInput type="number" formControlName="age" required>
                </mat-form-field>
              </td>
              <span style="margin-left: 10px;"></span>
              <td style="margin-bottom: 61px;padding-bottom: 18px;">
                <button mat-raised-button color="warn" (click)="removeSibling(i)" title="Remove">
                  <mat-icon>close</mat-icon>
                </button>
              </td>
            </tr>
          </table>

        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button type="button" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="create(student.value)" color="primary"
      [disabled]="!student.valid">Create</button>

  </mat-dialog-actions>
</form>
