/*
.example-container {
  height: 400px;
  width: 550px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
} */


/* .table .thead-light th {
  color: #401500;
  background-color: #FFDDCC;
  border-color: #792700;
}
table{
text-align: center;
}

th:first-child, td:first-child
{
  position:sticky;
  left:0px;
  background-color:white;
}
th:last-child, td:last-child
{
  position:sticky;
  right:0px;
  background-color:white;
  z-index: 1;
} */
/*
.example-container {
  margin-top: 0px;
  height: 89%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
} */

.example-container {
  margin-top: 0px;
  height: 89%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
table{
  background-color: #f9fbfe;
  font-family: "Ubuntu", "LatoRegular", "Lucida Grande", "Lucida Sans Unicode", ;
}
.example-table-container {
  margin-top: 0px;
  height: 89%;
  width: 100%;
  max-width: 100%;
  overflow: auto;

}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #c7c2c2;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #d4cdcd;
}

.mat-column-actions {
  text-align: right;
}


.mat-header-cell{
  /* background-color: #f9fbfe; */
  font-size: 15px;
  /* color: black; */
}
.mat-row:hover{
    /* background-color: rgb(73, 36, 235); */
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0 !important;
  min-width: 150px;
  max-width: 100px;
}

.mat-form-field {
  font-size: 15px;
  width: 82%;
  /* float: right; */
}

/*
.mat-column-fatherMotherExpired{
    background-color: hotpink;
    padding-right: 5px;
   margin-right: 5px;
   width: 200px !important;
} */

  /* word wrap in table  */
td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 400px;
}
/* .mat-cell {
  vertical-align:top;
} */




.dialog-container-custom .mat-dialog-container {
	padding: 0;
	background: rgb(243, 27, 27);
}

::ng-deep .text-highlight {
  background-color:rgb(245, 245, 4);

}
.fa-file-excel{
  color:green;
  font-size:25px;
  margin-right: 15px;
  cursor: pointer !important;
}

img{
  height: 38px;
  width: 38px;
  border-radius: 10%;
  cursor: pointer;
}
